#wpadminbar #wp-admin-bar-wp-doc .ab-icon:before {
    content: '\f223'; // Change to a Dashicon of your choice
    top: 3px;
     color: #2980B9;
}

.wp-doc-admin-modal-content {
  position: relative;
  background-color: #f1f1f1;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 30px;
  border: 1px solid #888;
  width: 80%;
  height: 50vh;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s

}
.wp-doc-admin-left-column {
/*  background: #b2b2ff;*/
  border-right: 1px solid #d8d8d8;
}
.wp-doc-admin-right-column {
  padding-left: 20px;
/*  background: #e5ffe5;*/
}
.wp-doc-admin-left-column h3 {
  border-bottom: 1px solid #d8d8d8;
  margin:0;
  padding:16px;
}
.wp-doc-admin-left-column a {text-decoration: none;font-family: Arial; width:100%;display: block; padding:10px 3px; outline: 0;}
.wp-doc-admin-left-column ul {overflow: hidden;}
.wp-doc-admin-left-column .active a {color:white; background-color: #2E97DE;outline: 0;}
.wp-doc-admin-left-column li { margin:0px; padding: 0px;}
.wp-doc-admin-left-column li .active { margin:0px; padding: 0px; }
.wp-doc-admin-left-column li li { border-left:1px solid #d8d8d8;background-color: white;  outline: 0;}
.wp-doc-admin-left-column .active li a {color:black;width:100%;display: block; padding:10px 3px; outline: 0;background-color: white; }

/*.wp-doc-admin-left-column .active li .active a {color:black;width:100%;display: block; padding:10px 3px; outline: 0; border-left: 2px solid  #2E97DE; }*/


.wp-doc-admin-left-column li li li { list-style: square; }
.wp-doc-admin-left-column li .is_children .active {}


/* BREADCRUMBS */
.wp-doc-admin-right-column .breadcrumbs {padding-bottom: 10px;}
.wp-doc-admin-right-column .breadcrumbs a {text-decoration: none;}

 /* The Modal (background) */
.wp-doc-admin-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1000000; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Header */
.modal-header {
  padding: 2px 16px;
  /*background-color: #fff;*/
  color: white;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.wp-doc-admin-footer {
  height: 20px;
  padding: 2px 16px;
  background-color: grey;
  color: black;
/*  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  padding:5px;
  display: block;*/
}
.wp-doc-admin-footer span {
  float:right;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #f1f1f1;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

/* The Close Button */
.close {
  color: #aaa;
/*  float: right;*/
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 5px;
  right: 5px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.wp-doc-admin-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
  /*height:calc(100%-20px);*/
}
.wp-doc-admin-hidden {
  display: none;
}
